[submodule "TerraAngelSetup/DotnetPatcher"]
	path = TerraAngelSetup/DotnetPatcher
	url = https://github.com/CEO-Chair/DotnetPatcher.git
[submodule "TNA"]
	path = TNA
	url = https://github.com/CEO-Chair/TNA.git
[submodule "ImGui.NET"]
	path = ImGui.NET
	url = https://github.com/CEO-Chair/ImGui.NET.git
